[QPiUPSMon]
printing=false
updateIntervall=10.0

[MQTT-Broker]
host=127.0.0.1
port=1883
clientid="PiUPSMon-Client"

[MQTT-Topics]
Application="piupsmon"
Firmware="version"
Status="status"
Accu-Voltage="uAccu"
RasPi-Current="iPi"
RasPi-Voltage="uPi"
Primary-Voltage="uPrimary"
External-Voltage="uExtern"
